version: "3.9"

services:
  admin:
    build:
      context: ./admin
      dockerfile: Dockerfile
    container_name: admin-app
    ports:
      - "4200:80"
    depends_on:
      - api

  api:
    build:
      context: ./Api
      dockerfile: Dockerfile
    container_name: api-app
    ports:
      - "5000:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
