@if (isAuthenticated()) {
  <mat-sidenav-container class="sidenav-container">
    <!-- Sidebar -->
    <mat-sidenav
      #sidenav
      mode="side"
      opened
      class="bg-light text-dark d-flex flex-column justify-content-between"
    >
      <div>
        <h3 class="p-3">Mi App</h3>
        <mat-nav-list>
          <!-- Admin Links -->
          @for (route of routes; track $index) {
            <a
              mat-list-item
              [routerLink]="route.path"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <mat-icon>{{ route.icon }}</mat-icon
              >{{ route.label }}</a
            >
          }
        </mat-nav-list>
      </div>
      <div class="p-3">
        <button matButton="filled" class="w-100" (click)="logout()">Cerrar sesión</button>
      </div>
    </mat-sidenav>

    <!-- Contenido principal -->
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="d-md-none">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Mi App</span>
      </mat-toolbar>

      <div
        class="shadow d-flex align-items-center justify-content-between px-2"
        style="min-height: 60px"
      >
        <div><h1>My Home</h1></div>
        @if (user()?.role === roleEnum.Admin) {
          <button
            mat-icon-button
            class="btn-warning"
            matTooltip="Inventario bajo"
            [matBadge]="lengthReport"
            [matMenuTriggerFor]="menu"
          >
            <mat-icon>notifications</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <mat-list class="list-not">
              @for (obs of reports(); track $index) {
                <mat-list-item>
                  <div class="d-flex flex-row align-items-center">
                    <mat-icon matListIcon> notification_important </mat-icon>
                    <span>
                      {{ obs.reason }}
                    </span>
                  </div>
                  <div class="d-flex flex-column">
                    <span class="text-muted small">
                      Producto:
                      <strong>{{ obs.product?.name }}</strong>
                    </span>
                    <span class="text-muted small">
                      Reportado por
                      <strong>{{ obs.user?.fullname }}</strong>
                    </span>
                  </div>
                  <div matLine class="text-muted small">Hace {{ timeAgo(obs.createdAt!) }}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
              }
            </mat-list>
          </mat-menu>
        }
      </div>
      <div class="p-3 card-body">
        <mat-card appearance="outlined">
          <mat-card-content>
            <router-outlet></router-outlet>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
} @else {
  <router-outlet></router-outlet>
}
