.login-page {
  height: 100vh;
  width: 100%;
  background-image: url('/images/fondo.png'); /* reemplaza con tu imagen */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 50px; /* deja espacio a la izquierda para el formulario */
}

.login-form {
  width: 350px;
  background-color: rgba(255, 255, 255); /* ligeramente transparente */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
