.table-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  ::ng-deep .mat-mdc-form-field-subscript-wrapper,
  .mat-mdc-form-field-bottom-align::before {
    height: 0;
  }
}

.btn-delete {
  color: var(--mat-sys-error);
}

.btn-edit {
  color: var(--mat-sys-primary);
}

.btn-warning {
  color: var(--mat-sys-tertiary);
}
