.login-page {
  height: 100vh;
  width: 100%;
  background-image: url('/images/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 50px;
}

.content-form {
  width: 350px;
  background-color: rgba(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
