# =========================
# .NET / ASP.NET Core
# =========================

# Build outputs
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / JetBrains
.idea/
*.sln.iml

# User Secrets
secrets.json
appsettings.json
appsettings.*.json

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Publish output
publish/

# Test results
TestResults/
